# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.env

# Database
*.sqlite3
*.db

# Static files
/staticfiles/

# Media files
/media/

# Logs
*.log

# Virtual environment
venv/